#ifdef __has_include
#if __has_include("lvgl.h")
#ifndef LV_LVGL_H_INCLUDE_SIMPLE
#define LV_LVGL_H_INCLUDE_SIMPLE
#endif
#endif
#endif

#if defined(LV_LVGL_H_INCLUDE_SIMPLE)
#include "lvgl.h"
#else
#include "lvgl.h"
#endif

#ifndef LV_ATTRIBUTE_MEM_ALIGN
#define LV_ATTRIBUTE_MEM_ALIGN
#endif

#ifndef LV_ATTRIBUTE_IMG_GIF_{{ array_name|upper }}
#define LV_ATTRIBUTE_IMG_GIF_{{ array_name|upper }}
#endif

// clang-format off
const LV_ATTRIBUTE_MEM_ALIGN LV_ATTRIBUTE_LARGE_CONST LV_ATTRIBUTE_IMG_GIF_{{ array_name|upper }} uint8_t {{ array_name }}_gif_map[]= {
{%- for byte in byte_data %}
    {{- byte -}}{% if not loop.last %},{% endif %}{% if (loop.index + 1) % bytes_per_line == 0 and not loop.last %}
{% endif %}{% endfor %}
};
// clang-format on

const lv_img_dsc_t gif_{{ array_name }} = {
    // .header.cf = LV_IMG_CF_RAW_CHROMA_KEYED,
    .header.cf = LV_IMG_CF_TRUE_COLOR,
    .header.always_zero = 0,
    .header.reserved = 0,
    .header.w = {{ width }},
    .header.h = {{ height }},
    .data_size = {{ byte_data|length }},
    .data = {{ array_name }}_gif_map,
};

// TODO: figure out if these are needed.
// const int {{ array_name }}_len = {{ byte_data|length }};
// const int {{ array_name }}_frame_count = {{ frame_count }};
// const int {{ array_name }}_frame_durations= { {{ frame_durations|join(', ') }} };
